# Dependências (Nunca suba isso!)
node_modules/
dist/
build/

# Configurações Locais e Senhas
.env
config.js
config.local.js

# Arquivos do Sistema
.DS_Store
Thumbs.db
.vscode/

# Arquivos temporários de geração e testes
tmp/
